[package]
name = "ketzal-validation"
version = "0.1.0"
edition.workspace = true
license-file.workspace = true
authors.workspace = true
homepage.workspace = true
repository.workspace = true
description.workspace = true

[dependencies]
regex = "1.12.3"
serde_json = "1.0"
