[package]
name = "ketzal-http"
version = "0.1.0"
edition.workspace = true
license-file.workspace = true
authors.workspace = true
homepage.workspace = true
repository.workspace = true
description.workspace = true

[dependencies]
http = "1"
bytes = "1"
thiserror = "2"
tracing = "0.1"
